@page
@model HotelBookingWeb.Pages.Rezervari.IndexModel

@{
    ViewData["Title"] = "Rezervari";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].DataStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].DataSfarsit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].NoteAditionale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].Camera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rezervare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSfarsit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteAditionale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camera.Numar)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
